* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app_header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}

.post {
  border: 1px solid lightgray;
  margin-bottom: 45px;
}

.post_header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post_avatar {
  margin-right: 10px;
}

.post_text {
  font-weight: normal;
  padding: 20px;
}

.post_image{
  width: 100%;
  object-fit: content;
}